#inner-content {
    background: url("https://www.buehlermotor.com/fileadmin/templates/website/media/images/final/Produkte_und_Maerkte/Healthcare/buehler_motor_healthcare_header.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    header {
        width: 100%;
        padding: 30px;
        background: #fff;
        color: #29323c;
    }
    .l-content {
        width: auto;
        background: #29323c;
        display: inline-block;
        height: 100vh;

        a {
            display: block;
            padding: 30px 30px 30px;
            margin-bottom: 10px;
            color: #fff;
            font-size: 18px;
            border-bottom: 2px solid grey;
            cursor: pointer;
        }
    }
    .r-content {
        height: 100vh;
        display: inline-block;
        padding: 30px;
        vertical-align: top;
        .chart_div {
            width: 700px;
            height: 700px;
        }
    }
}
#assessment-page {
    padding: 65px;
    .l-content {
        width: auto;
        background: #dbe6e4d9;
        display: inline-block;
        height: 20%;
        padding: 45px;
        border: 1px solid;
        border-radius: 10px;
    }
    .r-content {
        width: 50%;
    }
    select {
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
}
